.main-container
    .content
        #welcome-message
            p#welcome-message-text(style='font-size: 6em; max-height: 1.5em; background: #d1ffdf; padding-left: .25em; padding-right: .25em; bottom: 0;')
              span(ng-hide='deutsch')
                | welcome
                span.space to
                span.space the
                span.space site
              span(ng-show='deutsch')
                | wilkommen
                span.space in
                span.space die
                span.space seite
