.twitter-bot-container
    .content
        h1 twitter bot
        div.coming-soon(ng-controller='TwitterBotController', onload='init()', style='position: absolute;\
        bottom: 75%;\
        right: 45%;')
          | coming soon
